openapi: 3.0.1
info:
  title: DataForSEO API documentation
  description: 'DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.'
  version: 1.0.0
servers:
  - url: https://api.dataforseo.com
  - url: https://sandbox.dataforseo.com
paths:
  /v3/serp/id_list:
    post:
      tags:
        - Serp
      description: "This endpoint is designed to provide you with the list of IDs and metadata of the completed SERP tasks during the specified period. You will get all task IDs that were made including successful, uncompleted, and tasks that responded as errors.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/id_list/?bash'"
      operationId: SerpIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpIdListRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpIdListResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/errors:
    post:
      tags:
        - Serp
      description: "By calling this endpoint you will receive information about the SERP API tasks that returned an error within the past 24 hours.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/errors/?bash'"
      operationId: SerpErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpErrorsRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpErrorsResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/screenshot:
    post:
      tags:
        - Serp
      description: "‌‌\nUsing the Live Page Screenshot endpoint, you can capture a screenshot of any SERP page.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/screenshot/?bash'"
      operationId: Screenshot
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpScreenshotRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpScreenshotResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/ai_summary:
    post:
      tags:
        - Serp
      description: "‌‌\nThe purpose of the Live SERP API AI Summary endpoint is to provide a summary of the content found on any SERP and generate a response based on the user’s specified prompt.\nTo obtain results, you have to specify task_id, which you can find in the response to the POST request.\nLearn more in our Help Center.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/ai_summary/?bash'"
      operationId: AiSummary
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpAiSummaryRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpAiSummaryResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/locations:
    get:
      tags:
        - Serp
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/locations/?bash'"
      operationId: SerpGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocationsResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/locations/{country}':
    get:
      tags:
        - Serp
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/locations/?bash'"
      operationId: SerpGoogleLocationsCountry
      parameters:
        - name: country
          in: path
          description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by country\nexample:\nus"
          required: true
          schema:
            type: string
          example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocationsCountryResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/languages:
    get:
      tags:
        - Serp
      description: "You will receive the list of languages by calling this API.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/languages/?bash'"
      operationId: SerpGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLanguagesResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/organic/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nSERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/task_post/?bash'"
      operationId: GoogleOrganicTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/organic/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/tasks_ready/?bash'"
      operationId: GoogleOrganicTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/tasks_ready/?bash'"
      operationId: TasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/organic/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/tasks_fixed/?bash'"
      operationId: GoogleOrganicTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/organic/task_get/regular/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/task_get/regular/?bash'"
      operationId: GoogleOrganicTaskGetRegular
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicTaskGetRegularResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/organic/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/task_get/advanced/?bash'"
      operationId: GoogleOrganicTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/organic/task_get/html/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/task_get/html/?bash'"
      operationId: GoogleOrganicTaskGetHtml
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 7 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 94fe5472-1c0d-460e-92f4-6dd8cf4fc833
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicTaskGetHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/organic/live/regular:
    post:
      tags:
        - Serp
      description: "‌‌\nLive SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/live/regular/?bash'"
      operationId: GoogleOrganicLiveRegular
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleOrganicLiveRegularRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicLiveRegularResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/organic/live/advanced:
    post:
      tags:
        - Serp
      description: "‌\nLive SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location. This endpoint will supply a complete overview of featured snippets and other extra elements of SERPs.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/live/advanced/?bash'"
      operationId: GoogleOrganicLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleOrganicLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/organic/live/html:
    post:
      tags:
        - Serp
      description: "‌\nLive SERP HTML provides a raw HTML page of 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/organic/live/html/?bash'"
      operationId: GoogleOrganicLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleOrganicLiveHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/maps/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nSERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/maps/task_post/?bash'"
      operationId: GoogleMapsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleMapsTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleMapsTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/maps/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/maps/tasks_ready/?bash'"
      operationId: GoogleMapsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleMapsTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/maps/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/maps/tasks_fixed/?bash'"
      operationId: GoogleMapsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleMapsTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/maps/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/maps/task_get/advanced/?bash'"
      operationId: GoogleMapsTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\na universally unique identifier (UUID)\nunique task identifier in our system\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleMapsTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/maps/live/advanced:
    post:
      tags:
        - Serp
      description: "‌‌\nLive Google Maps SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/maps/live/advanced/?bash'"
      operationId: GoogleMapsLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleMapsLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleMapsLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/local_finder/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nGoogle Local Finder SERP API provides top search engine results specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/local_finder/task_post/?bash'"
      operationId: GoogleLocalFinderTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleLocalFinderTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocalFinderTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/local_finder/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/local_finder/tasks_ready/?bash'"
      operationId: GoogleLocalFinderTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocalFinderTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/local_finder/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/local_finder/tasks_fixed/?bash'"
      operationId: GoogleLocalFinderTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocalFinderTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/local_finder/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/local_finder/task_get/advanced/?bash'"
      operationId: GoogleLocalFinderTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\na universally unique identifier (UUID)\nunique task identifier in our system\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocalFinderTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/local_finder/task_get/html/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/local_finder/task_get/html/?bash'"
      operationId: GoogleLocalFinderTaskGetHtml
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 7 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: eb05b76a-7519-490e-b5c5-685160e36d69
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocalFinderTaskGetHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/local_finder/live/advanced:
    post:
      tags:
        - Serp
      description: "‌‌\nLive Google Local finder SERP provides real-time search engine results for the specified keyword and location. By default, you can get up to 20 results for desktop and up to 10 results for mobile.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/local_finder/live/advanced/?bash'"
      operationId: GoogleLocalFinderLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleLocalFinderLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocalFinderLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/local_finder/live/html:
    post:
      tags:
        - Serp
      description: "‌\nLive Google Local Finder SERP HTML provides a raw HTML page of the search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/local_finder/live/html/?bash'"
      operationId: GoogleLocalFinderLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleLocalFinderLiveHtmlRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleLocalFinderLiveHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/news/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nSERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/news/task_post/?bash'"
      operationId: GoogleNewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleNewsTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/news/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/news/tasks_ready/?bash'"
      operationId: GoogleNewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleNewsTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/news/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/news/tasks_fixed/?bash'"
      operationId: GoogleNewsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleNewsTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/news/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/news/task_get/advanced/?bash'"
      operationId: GoogleNewsTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleNewsTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/news/task_get/html/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/news/task_get/html/?bash'"
      operationId: GoogleNewsTaskGetHtml
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 7 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: e2aa6454-e57b-4a2c-b4b8-0859f124e06f
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleNewsTaskGetHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/news/live/advanced:
    post:
      tags:
        - Serp
      description: "‌‌\nLive Google News SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/news/live/advanced/?bash'"
      operationId: GoogleNewsLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleNewsLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/news/live/html:
    post:
      tags:
        - Serp
      description: "‌\nLive SERP HTML provides a raw HTML page of 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/news/live/html/?bash'"
      operationId: GoogleNewsLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleNewsLiveHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/events/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nGoogle Events SERP provides data from Google Events Search for the specified keyword and location (see the List of Locations). Note that Google Events SERP API works for the English language only.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/events/task_post/?bash'"
      operationId: GoogleEventsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleEventsTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleEventsTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/events/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/events/tasks_ready/?bash'"
      operationId: GoogleEventsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleEventsTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/events/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/events/tasks_fixed/?bash'"
      operationId: GoogleEventsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleEventsTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/events/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/events/task_get/advanced/?bash'"
      operationId: GoogleEventsTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleEventsTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/events/live/advanced:
    post:
      tags:
        - Serp
      description: "‌‌\nLive Google Events SERP provides real-time data from Google Events Search for the specified keyword and location. Note that Google Events SERP API works for the English language only.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/events/live/advanced/?bash'"
      operationId: GoogleEventsLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleEventsLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleEventsLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/images/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nSERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/images/task_post/?bash'"
      operationId: GoogleImagesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleImagesTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/images/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/images/tasks_ready/?bash'"
      operationId: GoogleImagesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleImagesTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/images/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/images/tasks_fixed/?bash'"
      operationId: GoogleImagesTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleImagesTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/images/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/images/task_get/advanced/?bash'"
      operationId: GoogleImagesTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleImagesTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/images/task_get/html/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/images/task_get/html/?bash'"
      operationId: GoogleImagesTaskGetHtml
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 7 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: f767cdf0-27ad-466c-b52c-bfe90fca7a1e
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleImagesTaskGetHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/images/live/advanced:
    post:
      tags:
        - Serp
      description: "‌\nLive Google Images SERP provides real-time data on top 100 images results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/images/live/advanced/?bash'"
      operationId: GoogleImagesLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleImagesLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/images/live/html:
    post:
      tags:
        - Serp
      description: "‌\nLive SERP HTML provides a raw HTML page of 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/images/live/html/?bash'"
      operationId: GoogleImagesLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleImagesLiveHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/search_by_image/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nGoogle Search By Image SERP API provides up to top 100 search engine results based on the image you specified. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/search_by_image/task_post/?bash'"
      operationId: GoogleSearchByImageTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleSearchByImageTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleSearchByImageTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/search_by_image/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/search_by_image/tasks_ready/?bash'"
      operationId: GoogleSearchByImageTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleSearchByImageTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/search_by_image/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/search_by_image/tasks_fixed/?bash'"
      operationId: GoogleSearchByImageTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleSearchByImageTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/search_by_image/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/search_by_image/task_get/advanced/?bash'"
      operationId: GoogleSearchByImageTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleSearchByImageTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/jobs/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nThis endpoint will provide you with SERP data from the Google Jobs search engine. The returned results are specific to the keyword as well as the language and location parameters of the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/jobs/task_post/?bash'"
      operationId: GoogleJobsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleJobsTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleJobsTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/jobs/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/jobs/tasks_ready/?bash'"
      operationId: GoogleJobsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleJobsTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/jobs/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/jobs/tasks_fixed/?bash'"
      operationId: GoogleJobsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleJobsTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/jobs/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/jobs/task_get/advanced/?bash'"
      operationId: GoogleJobsTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleJobsTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/jobs/task_get/html/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/jobs/task_get/html/?bash'"
      operationId: GoogleJobsTaskGetHtml
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 7 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 4a2152b1-e16f-4b39-8fb2-3e0d3201100a
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleJobsTaskGetHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/autocomplete/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nGoogle Autocomplete is a feature within Google Search that improves the search experience by allowing users to complete searches they started to type. DataForSEO SERP API will provide you with all the suggestions Google Autocomplete offers for a particular keyword, the position of the cursor pointer, and the search client.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/autocomplete/task_post/?bash'"
      operationId: GoogleAutocompleteTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleAutocompleteTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleAutocompleteTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/autocomplete/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/autocomplete/tasks_ready/?bash'"
      operationId: GoogleAutocompleteTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleAutocompleteTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/autocomplete/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/autocomplete/tasks_fixed/?bash'"
      operationId: GoogleAutocompleteTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleAutocompleteTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/autocomplete/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/autocomplete/task_get/advanced/?bash'"
      operationId: GoogleAutocompleteTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleAutocompleteTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/autocomplete/live/advanced:
    post:
      tags:
        - Serp
      description: "‌‌\nGoogle Autocomplete is a feature within Google Search that improves the search experience by allowing users to complete searches they started to type. DataForSEO SERP API will provide you with all the suggestions Google Autocomplete offers for a particular keyword, the position of the cursor pointer, and the search client.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/autocomplete/live/advanced/?bash'"
      operationId: GoogleAutocompleteLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleAutocompleteLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleAutocompleteLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_search/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nGoogle Dataset Search API provides top 20 Google Dataset search engine results. These results are specific to the indicated keyword. You can specify other parameters optionally.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_search/task_post/?bash'"
      operationId: GoogleDatasetSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleDatasetSearchTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetSearchTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_search/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_search/tasks_ready/?bash'"
      operationId: GoogleDatasetSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetSearchTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_search/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_search/tasks_fixed/?bash'"
      operationId: GoogleDatasetSearchTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetSearchTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/dataset_search/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_search/task_get/advanced/?bash'"
      operationId: GoogleDatasetSearchTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetSearchTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_search/live/advanced:
    post:
      tags:
        - Serp
      description: "‌\nLive Google Dataset Search provides real-time data on the top 20 Google Dataset search engine results. These results are specific to the indicated keyword. You can specify other parameters optionally.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_search/live/advanced/?bash'"
      operationId: GoogleDatasetSearchLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleDatasetSearchLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetSearchLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_info/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nGoogle Dataset Info API provides detailed information about the dataset you specify in the POST request. You will get data from a page of the dataset displayed separately from the SERP. It contains information about dataset content, authors, licenses, and description on the SERP.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_info/task_post/?bash'"
      operationId: GoogleDatasetInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleDatasetInfoTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetInfoTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_info/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_info/tasks_ready/?bash'"
      operationId: GoogleDatasetInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetInfoTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_info/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_info/tasks_fixed/?bash'"
      operationId: GoogleDatasetInfoTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetInfoTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/google/dataset_info/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_info/task_get/advanced/?bash'"
      operationId: GoogleDatasetInfoTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetInfoTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/google/dataset_info/live/advanced:
    post:
      tags:
        - Serp
      description: "‌\nLive Google Dataset Info provides real-time data on the dataset you specify in the request. You will get data from a page of the dataset displayed separately from the SERP. It contains information about dataset content, authors, licenses, and description on the SERP.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/google/dataset_info/live/advanced/?bash'"
      operationId: GoogleDatasetInfoLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpGoogleDatasetInfoLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpGoogleDatasetInfoLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/locations:
    get:
      tags:
        - Serp
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/locations/?bash'"
      operationId: SerpBingLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocationsResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/bing/locations/{country}':
    get:
      tags:
        - Serp
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/locations/?bash'"
      operationId: SerpBingLocationsCountry
      parameters:
        - name: country
          in: path
          description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by country\nexample:\nus"
          required: true
          schema:
            type: string
          example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocationsCountryResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/languages:
    get:
      tags:
        - Serp
      description: "You will receive the list of languages by calling this API.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/languages/?bash'"
      operationId: SerpBingLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLanguagesResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/organic/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nSERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/task_post/?bash'"
      operationId: BingOrganicTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/organic/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/tasks_ready/?bash'"
      operationId: BingOrganicTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/organic/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/tasks_fixed/?bash'"
      operationId: BingOrganicTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/bing/organic/task_get/regular/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/task_get/regular/?bash'"
      operationId: BingOrganicTaskGetRegular
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicTaskGetRegularResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/bing/organic/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/task_get/advanced/?bash'"
      operationId: BingOrganicTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/bing/organic/task_get/html/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/task_get/html/?bash'"
      operationId: BingOrganicTaskGetHtml
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 7 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: cd9cb809-c1ba-4af2-92b4-9bc589dd5339
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicTaskGetHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/organic/live/regular:
    post:
      tags:
        - Serp
      description: "‌‌\nLive SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/live/regular/?bash'"
      operationId: BingOrganicLiveRegular
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicLiveRegularResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/organic/live/advanced:
    post:
      tags:
        - Serp
      description: "‌‌\nLive SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location. This endpoint will supply a complete overview of featured snippets and other extra elements of SERPs.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/live/advanced/?bash'"
      operationId: BingOrganicLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/organic/live/html:
    post:
      tags:
        - Serp
      description: "‌\nLive SERP HTML provides a raw HTML page of 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/organic/live/html/?bash'"
      operationId: BingOrganicLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingOrganicLiveHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/local_pack/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nSERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/local_pack/task_post/?bash'"
      operationId: BingLocalPackTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocalPackTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/local_pack/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/local_pack/tasks_ready/?bash'"
      operationId: BingLocalPackTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocalPackTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/local_pack/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/local_pack/tasks_fixed/?bash'"
      operationId: BingLocalPackTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocalPackTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/bing/local_pack/task_get/regular/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/local_pack/task_get/regular/?bash'"
      operationId: BingLocalPackTaskGetRegular
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocalPackTaskGetRegularResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/bing/local_pack/task_get/html/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/local_pack/task_get/html/?bash'"
      operationId: BingLocalPackTaskGetHtml
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 7 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 995b4305-9adb-4b9b-8b94-bcf071ee88ec
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocalPackTaskGetHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/local_pack/live/regular:
    post:
      tags:
        - Serp
      description: "‌‌\nLive Bing Local Pack SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/local_pack/live/regular/?bash'"
      operationId: BingLocalPackLiveRegular
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocalPackLiveRegularResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/bing/local_pack/live/html:
    post:
      tags:
        - Serp
      description: "‌\nLive SERP HTML provides a raw HTML page of 100 search engine results for the specified keyword, search engine, and location.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/bing/local_pack/live/html/?bash'"
      operationId: BingLocalPackLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpTaskRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpBingLocalPackLiveHtmlResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/locations:
    get:
      tags:
        - Serp
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/locations/?bash'"
      operationId: SerpYoutubeLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeLocationsResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/youtube/locations/{country}':
    get:
      tags:
        - Serp
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/locations/?bash'"
      operationId: SerpYoutubeLocationsCountry
      parameters:
        - name: country
          in: path
          description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by country\nexample:\nus"
          required: true
          schema:
            type: string
          example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeLocationsCountryResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/languages:
    get:
      tags:
        - Serp
      description: "You will receive the list of languages by calling this API.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/languages/?bash'"
      operationId: SerpYoutubeLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeLanguagesResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_info/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nYouTube Video Info API provides detailed information about the video you specify in the POST request. You will get data from the watching page containing key video and content metrics as well as the channel where the video is published.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_info/task_post/?bash'"
      operationId: YoutubeVideoInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpYoutubeVideoInfoTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoInfoTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_info/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_info/tasks_ready/?bash'"
      operationId: YoutubeVideoInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoInfoTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_info/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_info/tasks_fixed/?bash'"
      operationId: YoutubeVideoInfoTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoInfoTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/youtube/video_info/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_info/task_get/advanced/?bash'"
      operationId: YoutubeVideoInfoTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoInfoTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_info/live/advanced:
    post:
      tags:
        - Serp
      description: "‌\nLive YouTube Video Info provides real-time data on the video you specify in the request. You will get data from the watching page containing key video and content metrics as well as the channel where the video is published.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_info/live/advanced/?bash'"
      operationId: YoutubeVideoInfoLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpYoutubeVideoInfoLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoInfoLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_subtitles/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nYouTube Subtitles API provides data on all subtitles in the video you specify in the POST request. You will get data from the watching page containing subtitled text, its language, and duration in the video.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_subtitles/task_post/?bash'"
      operationId: YoutubeVideoSubtitlesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpYoutubeVideoSubtitlesTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoSubtitlesTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_subtitles/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_subtitles/tasks_ready/?bash'"
      operationId: YoutubeVideoSubtitlesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoSubtitlesTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_subtitles/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_subtitles/tasks_fixed/?bash'"
      operationId: YoutubeVideoSubtitlesTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoSubtitlesTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/youtube/video_subtitles/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_subtitles/task_get/advanced/?bash'"
      operationId: YoutubeVideoSubtitlesTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoSubtitlesTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_subtitles/live/advanced:
    post:
      tags:
        - Serp
      description: "‌\nLive YouTube Subtitles provides real-time data on subtitles in the video you specify in the request. You will get data from the watching page containing subtitled text, its language, and duration in the video.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_subtitles/live/advanced/?bash'"
      operationId: YoutubeVideoSubtitlesLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpYoutubeVideoSubtitlesLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoSubtitlesLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_comments/task_post:
    post:
      tags:
        - Serp
      description: "‌‌\nYouTube Comments API provides data on comments on the video you specify in the request. You will get the top 20 comments on the video as well as information about the author, and key comment metrics.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_comments/task_post/?bash'"
      operationId: YoutubeVideoCommentsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpYoutubeVideoCommentsTaskPostRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoCommentsTaskPostResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_comments/tasks_ready:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nLearn more about task completion and obtaining a list of completed tasks in this help center article.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_comments/tasks_ready/?bash'"
      operationId: YoutubeVideoCommentsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoCommentsTasksReadyResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_comments/tasks_fixed:
    get:
      tags:
        - Serp
      description: "‌\nThe ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_comments/tasks_fixed/?bash'"
      operationId: YoutubeVideoCommentsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoCommentsTasksFixedResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/youtube/video_comments/task_get/advanced/{id}':
    get:
      tags:
        - Serp
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_comments/task_get/advanced/?bash'"
      operationId: YoutubeVideoCommentsTaskGetAdvanced
      parameters:
        - name: id
          in: path
          description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it within 30 days to request the results of the task at any time"
          required: true
          schema:
            type: string
          example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoCommentsTaskGetAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/youtube/video_comments/live/advanced:
    post:
      tags:
        - Serp
      description: "‌\nLive YouTube Comments provides real-time data on comments on the video you specify in the request. You will get the top 20 comments on the video as well as information about the author, and key comment metrics.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/youtube/video_comments/live/advanced/?bash'"
      operationId: YoutubeVideoCommentsLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SerpYoutubeVideoCommentsLiveAdvancedRequestInfo'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYoutubeVideoCommentsLiveAdvancedResponseInfo'
      security:
        - basicAuth: [ ]
  /v3/serp/yahoo/locations:
    get:
      tags:
        - Serp
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/serp/yahoo/locations/?bash'"
      operationId: SerpYahooLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerpYahooLocationsResponseInfo'
      security:
        - basicAuth: [ ]
  '/v3/serp/yahoo/locations/{country}':
    get:
      tags:
        - Serp
[...]
